nav{
    height: 100px;
    position: relative;
}

.Logo{
    width: 80px;
    height: 80px;
}

.images{
    width: 230px;
}

.Poster{
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.card{
    background-color: rgb(169, 166, 164);
    border-radius: 10px;
    padding-left: 10px;
    height:fit-content;
    transition: all 0.5s ease;
  
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: center;
    padding-left: 50px;
  }

.star{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.expand{
    cursor: pointer;
    float:right;
}

.card.expanded {
    z-index: 2;
    transform: scale(1.2);
    filter: brightness(1);
    width: 400px;
    margin: 0 auto;
}

  .nav{
    background-color: rgb(116, 115, 114);
  
  }

  .sort_by{
    color: rgb(240, 243, 245);
  }

  .filter_genre{
    color: rgb(240, 243, 245);
  }
  
  .show_more{
    background-color: rgb(102, 104, 104);
    border-radius: 5px;
  }

  .seasonimage{
    width:200px;
    height: 200px;
  }

.card--images{
  width: 200px;
}
  
  /* Add a media query for smaller screen sizes like iPhone SE */

  @media (max-width: 376px) {

    .card {
      font-family: 'Times New Roman', Times, serif;
      /* max-width: fit-content; */
    }
  
    .nav {
      max-width: fit-content;
    }

    .Logo{
      height: 80px;
    }
  
    .grid-container {
      grid-template-columns: repeat(2, minmax(2px, 1fr));
      gap: 10px; /* Adjust the gap for better spacing on smaller screens */
      justify-content: center;
      padding-left: 10px; /* Adjust padding for better spacing on smaller screens */
      max-width: fit-content;
    }
  
    .card.expanded {
      width: 250px; /* Adjust the expanded card width for better display on smaller screens */
    }
  
    .expand {
      float: none; /* Remove float for better alignment on smaller screens */
    }

    .images{
      width: 110px;
    }
  }