nav{
    height: 100px;
}

.icon-logo{
    width: 50px;
}

.images{
    width: 230px;
}

.Poster{
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.card{
    background-color: rgb(169, 166, 164);
    border-radius: 10px;
    padding-left: 10px;
    height:fit-content;
    transition: all 0.5s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: center;
  }

.star{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.expand{
    cursor: pointer;
    float:right;
}

.card.expanded {
    z-index: 2;
    transform: scale(1.2);
    filter: brightness(1);
    width: 400px;
    margin: 0 auto;
}

.card:not(.expanded) {
    filter: blur(2px) brightness(0.7);
  }

  .nav{
    background-color: rgb(75, 73, 72);
  }

  .favorites{
    size: 10px;
  }

  .movie_icon{
    size: 2px;
  }
  
  /* Add a media query for smaller screen sizes like iPhone SE */
@media (max-width: 320px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(1, fr));
      gap: 10px;
    }

  .images{
    width: 50px;
  }

    .poster-title {
      font-size: 12px;
    }
    .poster-description {
      font-size: 10px;
    }
  }
  